/* フォント読み込み */
@font-face {
  font-family: 'M PLUS 1p';
  src: url('https://github.com/shiratama-kotone/any-app/raw/refs/heads/main/assets/MPLUS1p-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* bodyに適用 */
body {
  font-family: 'M PLUS 1p', sans-serif;
}

.strawpoll-container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.strawpoll-embed {
  width: 100%;
  flex-grow: 1;
  height: 480px;
}

.strawpoll-link {
  text-align: center;
  margin-top: 15px;
}
